

<ul class="nav nav-pills nav-stacked">
  <li class=""><a href="#"><span class="badge pull-right"></span>Home</a></li>
  <li class=""><a href="#"><span class="badge pull-right"></span>Home</a></li>
  <li class=""><a href="#"><span class="badge pull-right"></span>Home</a></li>
  <li class=""><a href="#"><span class="badge pull-right"></span>Home</a></li>
  <li class=""><a href="#"><span class="badge pull-right"></span>Home</a></li>
  <li class=""><a href="#"><span class="badge pull-right"></span>Home</a></li>
</ul>
